<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Replication</title>
    <script>
        COUCHDB_USER = "<%= COUCHDB_USER %>";
        COUCHDB_PASS = "<%= COUCHDB_PASS %>";
    </script>
    <script src="bundle.js"></script>
</head>
<body style="width: 100vw; height: 95vh; margin: none; border: none; color: white;">
    <div style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; ">
        <div style="width: 40%; height: 60%; background-color: darkslategray;">
            <div style="display: flex; justify-content: center;">
                <h1 id="display-model_name">[Device Name]</h1>
            </div>
            

        </div>
    </div>
</body>
</html>